  <!-- Nav Tabs -->
  <mdb-tabset #staticTabs [vertical]="true" [buttonClass]="'md-tabs indigo'" [contentClass]="'card'">
    <!--Panel 1-->
    <mdb-tab id="automation-diagnosticsMenu" heading="Diagnostics">
      <div class="row">
        <div class="col-12">
          <br>
          <!-- <app-administration-diagnostics></app-administration-diagnostics> -->
        </div>
      </div>
    </mdb-tab>
    <mdb-tab id="automation-FeatureRequestsMenu" heading="Feature Requests">
      <div class="row">
        <div class="col-12">
          <br>
          <!-- <app-administration-feature-requests></app-administration-feature-requests> -->
        </div>
      </div>
    </mdb-tab>
  </mdb-tabset>
